.yap-canvas {
  position: relative;
  background-color: rgb(230, 230, 255);
  padding: 1em;
}

.yap-canvas > :not(svg) {
  position: absolute;
  font-size: small;
}

.yap-caption {
    display: flex;
    justify-content: center;
}

.yap-caption > rect {
    color: white;
    width: 5em;
    height: 100%;
}
.vertical {
  flex-direction: column;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.center {
  left: 50%;
  transform: translateX(-50%)
}
.middle {
  top: 50%;
  transform: translateY(-50%)
}

.yap-tip {
  line-height: 1.5;
  padding: .5em;
  background: rgba(0, 0, 150, 0.7);
  color: white;
  border-radius: 1em;
  text-align: center;
  font-size: smaller;
}

.border-and-fill {
  fill: rgb(255, 255, 250);
  stroke: rgb(180, 180, 180);
}

.border {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
}
