
.yap-legend {
  display: flex;
  flex-direction: row;
  bottom: 0em;
  right: 0em;
  text-align: left;
  font-size: small;
}

.yap-legend > rect {
  color: white;
  width: 4em;
  height: 1em;
}

.yap-text {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

.yap-canvas {
  position: relative;
  background-color: rgb(245, 245, 255);
  padding: 1.5em;
  margin: 1em;
}

.yap-canvas > * {
  position: absolute;
  font-size: small;
}

.yap-tip {
  line-height: 1.5;
  padding: .5em;
  background: rgba(0, 0, 150, 0.7);
  color: white;
  border-radius: 1em;
  text-align: center;
  font-size: smaller;
}

.border-and-fill {
  fill: rgb(255, 255, 250);
  stroke: rgb(180, 180, 180);
}

.border {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
}
